<div class="message">
  <div class="uppser-message">
    <div class="messge-user">
      <%= message.user.name %>
    </div>
    <div class="messge-date">
      <%= l message.created_at %>
    </div>
    <div class="lower-message">
      <%= message.content %>
    </div>
  </div>
</div>