<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar"%>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>


<%# <html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Final Test</title>
</head>
<body>
  <header>
    <div class="logo">
      Welcome
    </div>
    <ul class="lists">
      <li class="list">ABOUT US</li>
      <li class="list">SERVICE</li>
      <li class="list contact">CONTACT</li>
    </ul>
  </header>
</body>
</html> %>